<p-toolbar [style]="{ height: '100px' }">
  <div class="p-toolbar-group-start">
    <img src="assets/icons/icon-72x72.png" alt="logo"/>
  </div>
  <div class="p-toolbar-group-center">
    {{ title }}
  </div>
  <div class="p-toolbar-group-end px-2">
    <span class="cursor-pointer hover:surface-hover p-1 border-circle"
          (click)="basketList.toggle($event)">
        <i class="pi pi-shopping-cart" style="font-size: 2rem"
           [class.p-overlay-badge]="totalQuantity() > 0">
          @if (totalQuantity() > 0) {
            <span class="p-badge p-component p-badge-info">
              {{ totalQuantity() }}
            </span>
          }
        </i>
    </span>
  </div>
</p-toolbar>
<p-splitter
  [panelSizes]="[20, 80]"
  [style]="{ height: 'calc(100vh - 100px)' }">
  <ng-template pTemplate>
    <div class="w-full">
      <app-panel-menu/>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="w-full app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</p-splitter>

<p-overlayPanel #basketList [style]="{ width: '50vw' }" [showCloseIcon]="true">
  <ng-template pTemplate="content">
    @if (products().length === 0) {
      <p-card class="block m-2 text-center">
        <p class="m-0 text-lg font-medium text-blue-900">
          Votre panier est vide !
        </p>
      </p-card>
    } @else {
      <p-dataView #dv [value]="products()">
        <ng-template pTemplate="list" let-products>
          @for (product of products; track product) {
            <div class="flex justify-content-between align-items-center">
              <div class="grid flex-grow-1">
                <div class="flex flex-column col-4 lg:col-3">
                  <div class="text-lg font-medium text-900">{{ product.name }}</div>
                  <span class="font-medium text-secondary text-xs mt-2">{{ product.category }}</span>
                </div>
                <div class="col-6">
                  <p-inputNumber
                    [ngModel]="product.quantity"
                    (ngModelChange)="onQuantityChange($event, product)"
                    [showButtons]="true"
                    buttonLayout="horizontal"
                    [inputId]="$index+''"
                    [min]="1"
                    [max]="999"
                    inputStyleClass="w-4rem border-noround text-center"
                    incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus"/>
                </div>
              </div>

              <div class="align-self-start">
                <p-button [text]="true" icon="pi pi-times" severity="danger" size="small" [rounded]="true"
                          (onClick)="removeItemFromCart(product)"/>
              </div>
            </div>
            @if (!$last) {
              <hr class="my-2"/>
            }
          }
        </ng-template>
      </p-dataView>
      <hr class="mt-4"/>
      <p-button label="Acheter" icon="pi pi-credit-card" [raised]="true" severity="success"/>
    }

  </ng-template>
</p-overlayPanel>
